<html>
<head>

    <title>Login page</title>

</head>

<body>
<h1> Login page</h1>

<br/>
<form class="form-signin" method="post" action="#" th:action="@{/login}">
    <h2 class="form-signin-heading">Please sign in</h2>
    <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username"  name="username" class="form-control" placeholder="Username" required="" autofocus="">
    </p>
    <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</div>


</form>


</body>
</html>