<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Save Team</title>
</head>
<body>


<div class="container">
<h3>Team Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Team</p>
    <form action="#" th:action="@{teams/save}"
                   th:object="${team}" method="post">

        <input type="text" th:field="*{teamName}"
        class="form-control mb-4 w-25" placeholder="Team name">


        <input type="text" th:field="*{teamDivision}"
               class="form-control mb-4 w-25" placeholder="Team division">


        <input type="text" th:field="*{teamStanding}"
               class="form-control mb-4 w-25" placeholder="Team standing">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
   <hr>
    <a th:href="@/teams/list}">Back to Teams List</a>

</div>
</body>

</html>
